{% extends 'core/base.html'%}

{% load static %}

	{% block css %}
	
    {% endblock %}

	{% block javascript %}

 	{%endblock%}

    {%block contenido%}
	{% for n in MisionVision%}
        <header id="titulo-mision-vision">
		    <h1 class="font-weight-bold">{{n.titulo_pagina}}</h1>
	    </header>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 contenedor-mision">
				<h1 class="text-center">{{n.titulo_mision}}</h1>
				<hr>

				<p class="my-5">
				 {{n.descripcion_mision}}
				</p>
				<hr>
			</div>

			<div class="col-lg-6 contenedor-vision">

				<h1 class="text-center">{{n.titulo_vision}}</h1>
				<hr>
				<p class="my-5">
				{{n.descripcion_vision}}
			    </p>

				<hr>
				
			</div>
			
		</div>
		
	</div>
	{% endfor %}
    {%endblock%}