{% extends 'core/base.html'%}

{% load static %}

	{% block css %}
	
    {% endblock %}

	{% block javascript %}

 	{%endblock%}

    {%block contenido%}
        <header id="titulo-mision-vision">
		    <h1 class="font-weight-bold">Misión y visión</h1>
	    </header>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 contenedor-mision">

				<h1 class="text-center">Misión</h1>
				<hr>

				<p class="my-5">

					Nuestra misión es entregar a la gente de la cuarta región la mejor calidad de servicio orientándonos a satisfacer
					las necesidades de un público exigente y profesional.
					<br>
					<br>


					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<hr>
				
			</div>

			<div class="col-lg-6 contenedor-vision">

				<h1 class="text-center">Visión</h1>
				<hr>
				<p class="my-5">

				Ser reconocidos como el mejor local de música de la ciudad.
				Tenemos una trayectoria importante de hace más de una década, nos hemos enfocado
				en entregar a los serenenses instrumentos de calidad.
				<br>
				<br>


				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			    </p>

				<hr>
				
			</div>
			
		</div>


		<div class="row text-center">
			<div class="col-lg-12 contenedor-lupino-agradece">

				<h4>Lupino Tienda agradece la preferencia de su fiel clientela</h4>
				
			</div>
			
		</div>
		
	</div>
    {%endblock%}